@charset "UTF-8";
/* Definindo padroes gerais da página */
/*Formatações padrões*/
html {
  scroll-behavior: smooth;
}

* {
  border-radius: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
}

i {
  color: #D6000D;
}

.container {
  width: clamp(40%, 1100px, 80%);
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 20px;
}

.navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 50px;
  font-style: italic;
  font-weight: 900;
  color: #D6000D;
}

.navbar .logo span {
  color: #000;
}

.navbar .links {
  font-size: 20px;
}

.navbar .links li {
  display: inline;
  line-height: 50px;
}

.navbar .links li a {
  margin: 0 20px;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar .links li a:hover {
  color: #D6000D;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .links li:nth-child(4) a {
  color: #fff;
  background-color: #D6000D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 8px 50px;
  border-radius: 10px;
}

.navbar .links li:nth-child(4) a:hover {
  color: #fff;
  background-color: #e74953;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 130px 0;
  height: 700px;
}

.section1 .esquerda1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.section1 .esquerda1 img {
  width: 90%;
  height: 80%;
}

.section1 .direita1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .direita1 h3 {
  font-size: 20px;
}

.section1 .direita1 h2 {
  font-size: 50px;
  color: #D6000D;
  margin-bottom: 50px;
}

.section1 .direita1 a {
  color: #fff;
  background-color: #D6000D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 8px 30px;
  font-size: 25px;
}

.section1 .direita1 a:hover {
  color: #fff;
  background-color: #e74953;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sectionpart2 {
  margin: 150px 0;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.section2 .esquerda2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 25px;
}

.section2 .esquerda2 li {
  margin: 15px 0;
}

.section2 .esquerda2 li i {
  width: 0;
  height: 0;
}

.section2 .direita2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  height: 90%;
}

.section2 .direita2 img {
  width: 90%;
  height: 100%;
}

.contato2 {
  margin: 0 15px;
}

.contato2 h4 {
  margin-bottom: 15px;
  font-size: 15pt;
}

.contato2 input {
  outline: none;
}

.contato2 input::-webkit-input-placeholder {
  font-weight: 600;
}

.contato2 input:-ms-input-placeholder {
  font-weight: 600;
}

.contato2 input::-ms-input-placeholder {
  font-weight: 600;
}

.contato2 input::placeholder {
  font-weight: 600;
}

.contato2 input:nth-child(2) {
  background-color: #cfcfcf;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
  margin-right: 10px;
}

.contato2 input:nth-child(3) {
  color: #fff;
  background-color: #D6000D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 16px;
}

.contato2 input:nth-child(3):hover {
  color: #fff;
  background-color: #e74953;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contato2 input:nth-child(3)::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
}

.contato2 input:nth-child(3):-ms-input-placeholder {
  color: #fff;
  text-align: center;
}

.contato2 input:nth-child(3)::-ms-input-placeholder {
  color: #fff;
  text-align: center;
}

.contato2 input:nth-child(3)::placeholder {
  color: #fff;
  text-align: center;
}

.section3 {
  margin: 250px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.section3 .esquerda3, .section3 .direita3 {
  background-color: #cfcfcf;
  border-radius: 10px;
  width: 400px;
  height: 150px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.section3 .esquerda3 .img, .section3 .direita3 .img {
  background-color: #D6000D;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 15px 10px 10px 10px;
}

.section3 .esquerda3 .texto, .section3 .direita3 .texto {
  -ms-flex-negative: 100;
      flex-shrink: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section3 .esquerda3 .texto .p1, .section3 .direita3 .texto .p1 {
  margin: 15px 0 25px 0;
}

.section3 .esquerda3 .texto h3, .section3 .direita3 .texto h3 {
  font-weight: 500;
}

.section3 .esquerda3 .texto .p2, .section3 .direita3 .texto .p2 {
  font-weight: 600;
}

.container_footer {
  background-color: #000;
}

.container_footer .footer {
  color: #fff;
  margin: 0 auto;
  width: clamp(40%, 1100px, 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.container_footer .footer div {
  color: #fff;
  padding: 30px;
}

.container_footer .footer div h2 {
  margin-bottom: 15px;
}

.container_footer .footer div address p {
  margin: 15px 0;
}

.container_footer .footer div address p a {
  color: white;
  text-decoration: underline;
}

.container_footer .footer div i {
  font-size: 26px;
  margin: 0 10px;
  color: #D6000D;
  background-color: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container_footer .footer div i:hover {
  color: #e74953;
  background-color: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=estilo.css.map */