/* Definindo padroes gerais da página */
$red: #D6000D;
$black: #000;
$white: #fff;
$gray: rgb(207, 207, 207);
$shadow: 0px 0px 5px 3px rgba($color: #6b6b6b, $alpha: 0.3);

@mixin display($option, $option2, $option3){
    display: $option;
    justify-content: $option2;
    align-items: $option3;
    
}

@mixin comentarios($option1, $option2){
    @include display(grid, center, flex-start);
    flex-direction: $option1;
    background-color: $option2;
}

html{
    scroll-behavior: smooth;
}

*{
    border-radius: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $black;
}

h1{
    font-weight: 900;
    color: $red;
}

span{
    color: $black;
}

img{
    width: 100%;
}

i{
    color: $red;
}

// Navbar
.navbar{
    background-color: $white;
    color: $black;

    &_container{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 40px;
        @include display(flex, space-between, center);
        height: 100%;
        
        ul{
            display: flex;
            align-items: center;
            margin: 10px;
        }

        a{
            margin: 10px 15px;
        }

        .button{
            font-weight: 600;
            text-align: center;
            height: 10px;
            padding: 10px 10px;
            color: $white;
            height: 20px;
            width: 80px;
            border-radius: 15px;
            background-color: $red;
            transition: ease-in-out .4s;
        }

        .button:hover{
            transition: ease-in-out .4s;
            background-color: $white;
            color: $red;
        }
    }
}

// Primeira parte do corpo do site
.section{
    @include display(grid, center, center);
    grid-template-columns: repeat(2, 500px);
    gap: 200px;
    place-items: center;
    color: $black;
    background-color: $white;
    margin: 30px 0;
    height: 900px;

    &_esqcontainer{
        height: 550px;
        width: 550px;
        padding: 20px 0px;
    }

    &_dircontainer{
        color: $black;

        h3{
            font-size: 20pt;
        }

        h2{
            color: $red;
            font-size: 50pt;
            margin-bottom: 50px; 
        }

        button{
            cursor: pointer;
            text-align: center;
            font-size: 17pt;
            padding: 0px 10px;
            color: $white;
            height: 45px;
            width: 300px;
            border-radius: 10px;
            background-color: $red;
            outline: none;
            border: none;
            transition: ease-in-out .4s;
        }

        button:hover{
            background-color: $white;
            color: $red;
            transition: ease-in-out .4s;
        }
    }
}

// Segunda metade do site
.section2{
    @include display(grid, center, center);
    grid-template-columns: repeat(2, 600px);
    gap: 200px;
    place-items: center;
    height: 900px;

    &_esqcontainer{
        li{
            margin: 15px 0;
            font-size: 15pt;
        }
    }

    &_contato{
        h2{
            margin-top: 60px;
            margin-bottom: 10px;
        }
    } 

    &_botoes{

        input[type=text]:nth-child(1){
            outline: none;
            border-radius: 10px;
            border-width: 0;
            background-color: $gray;
            height: 40px;
            width: 220px;
            padding: 5px 20px;
            font-weight: 600;
            margin-right: 15px;
        }

        input[type=text]:nth-child(1)::placeholder{
            font-size: 14.5pt;
            padding-left: 10px;
        }

        input[type=text]:nth-child(2){
            background-color: $red;
            outline: none;
            border-width: 0;
            border-radius: 10px;
            height: 40px;
            width: 240px;
            padding: 5px 20px;
            color: $white;
            font-weight: 600;
            cursor: pointer;
        }

        input[type=text]:nth-child(2)::placeholder{
            color: $white;
            font-size: 14.5pt;
            text-align: center;
            
        }
    }
}

// Terceira metade do site
.section3{
    @include display(grid, center, flex-end);
    grid-template-columns: repeat(2, 700px);
    gap: 200px;
    height: 500px;

    .img{
        background-color: $red;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }

    &_container1, &_container2{
        @include comentarios(column, $gray);
        grid-template-columns: repeat(2, 300px);
        border-radius: 10px;
        padding: 40px;

        h3{
            font-size: 20pt;
        }

        .texto p:nth-child(1){
            font-size: 15pt;
        }

        .texto p:nth-child(2){
            margin-bottom: 15px;
        }
    }
}

.footer{
    @include display(grid, center, flex-start);
    grid-template-columns: repeat(4, 500px);
    height: 300px;
    background: $black;
    color: $white;
    margin-top: 150px;
    padding-top: 100px;

    div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4){
        h2{
            font-size: 25pt;
            margin: 15px 0px;
        }
    }

    div:nth-child(3){
        address{
            line-height: 2.5;
        }
        a{
            text-decoration: underline;
            color: $white;
        }
    }

    .fab{
        font-size: 25pt;
        margin: 0px 15px;
    }
}