/* cor: #D6000D */

/* Definindo padroes gerais da página */
*{
    border-radius: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho div{
    flex: 1;
    padding-left: 50px;
    font-size: 20pt;
}

/* Personalização do nome "Codar." */
.cabecalho a{
    color: #D6000D;
}

.cabecalho span{
    color: black;
}

.cabecalho ul{
    align-items: center;
    list-style: none;
    color: white;
    margin: 0;
    padding: 20px;
}

.cabecalho li{
    display: inline-block;
    padding: 20px;
    font-size: 15pt;
}

.cabecalho ul a{
    color: black;
    transition: 0.35s;
}

.cabecalho ul a:hover{
    color: #D6000D;
}

.cabecalho ul a .button{
    text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
    height: 5px;
    width: 90px;
    border-radius: 15px;
    background-color: #D6000D;
    transition: 0.35s;
}

.cabecalho ul a .button:hover{
    background-color: #f52f3c;
}

/* Meio do site | section */
.principal{
    display: flex;
    height: 800px;
    align-items: center;
}

.imgconteiner{
    flex: 1;
    padding-left: 350px;
}

.imgconteiner img{
    height: 50vh;
    width: 25vw;
}

.textoimg{
    flex: 1;
}

.textoimg h3{
    font-size: 20pt;
}

.textoimg h2{
    font-size: 55pt;
    color: #D6000D;
}

.espaco{
    height: 55px;
}

.orcamentobotao{
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
    font-size: 20pt;
    height: 15px;
    width: 350px;
    border-radius: 15px;
    background-color: #D6000D;
    transition: 0.35s;
}

.orcamentobotao:hover{
    background-color: #f52f3c;
}

/* ============================================ */
/* Segunda parte do section/site */
.principal2{
    display: grid;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 350px;
}

.fa-ul{
    list-style: none;
}

.fa-ul li{
    margin: 20px 0px;
    font-size: 18pt;
}

.fa-ul li i{
    color:#D6000D;
    font-size: 25px;
}

.conteinerimg img{
    width: 20vw;
    height: 50vh;
}

.textolista h2{
    font-size: 22pt;
    padding-top: 40px;
    padding-bottom: 15px;
}

.textolista .contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    width: 500px;
    width: 20px;
}

.contato .celular{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17pt;
    height: 10px;
    width: 300px;
    border-radius: 15px;
    background-color: rgb(219, 219, 219);
    transition: 0.35s;
}

.contato .ligamos{
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
    font-size: 17pt;
    height: 10px;
    width: 300px;
    border-radius: 15px;
    background-color: #D6000D;
    transition: 0.35s;
}

.comentarios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    height: 100px;
    width: 100%;
    padding: 0px 100px;
}

.conteinercomentario1{
    height: 10vh;
    width: 20vw;
    background-color: rgb(219, 219, 219);
}

.barrainferior{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
    padding: 30px 100px;
}

.barrainferior h2, h3{
    padding: 5px 0px;
}

.barrainferior p{
    font-size: 15pt;
}

/* .barrainferior .redesocial{

} */

address{
    font-style: normal;
}